.promo {
    background: #FAFCFF;
    padding-top: 70px;
    padding-bottom: 67px;
    position: relative;
    z-index: 2;
    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__images {
        display: none;
    }
    &__image {
        position: absolute;
        right: 30px;
    }
    &__image-mobile {
        display: none;
    }
    &__content {
        padding-top: 32px;
    }
    &__content-title {
        margin: 0;
        font-family: 'Lato Black', sans-serif;
        font-size: 47px;
        line-height: 58px;
        color: #0D4CD3;
        width: 775px;
        &--color {
            display: block;
            color: #EE3F3F;
        }
    }
    &__content-subtitle {
        font-family: 'Lato Black', sans-serif;
        margin-top: 20px;
        font-size: 36px;
        line-height: 43px;
        color: #0B1F33;
    }
    &__content-descr {
        margin-top: 10px;
        font-size: 30px;
        line-height: 36px;
        color: #0D4CD3;
    }
    &__content-item {
        margin-top: 17px;
        display: flex;
        align-items: center;
        padding: 5px 25px;
        width: 470px;
        height: 45px;
        border: 1px solid #EE3F3F;
        border-radius: 0px 20px 20px 20px;
    }
    &__content-item-text {
        margin-left: 20px;
        font-size: 20px;
        line-height: 24px;
        color: #0B1F33;
    }
    &__content-button {
        margin-top: 35px;
        width: 270px;
        height: 60px;
    }
    &__block {
        width: 385px;
        height: 178px;
        padding: 35px 33px 18px;
        background: #FFFFFF;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.36);
        border-radius: 20px 0px 20px 20px;
    }
    &__block-text {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #0B1F33;
        &--color {
            color: #EE3F3F;
        }
    }
    &__block-starting {
        font-family: 'Lato Black', sans-serif;
        padding: 5px 13px;
        width: 166px;
        height: 35px;
        border: 1px solid #EE3F3F;
        border-radius: 20px;
        margin: 10px auto 0;
        font-size: 19px;
        line-height: 24px;
        color: #0D4CD3;
    }
}